In [26]:
import pandas as pd

deaths = pd.read_csv('./clean/estat_hlth_cd_aro.csv')
deaths

,sex,age,cause,country,2016,2017,2018,2019,2020,2021,2022,2023
0,Females,65 years or over,COVID-19,Austria,0.0,0.0,0.0,0.0,2973.0,3373.0,2960.0,1255.0
1,Males,65 years or over,COVID-19,Austria,0.0,0.0,0.0,0.0,3146.0,3669.0,2979.0,1379.0
2,Total,65 years or over,COVID-19,Austria,0.0,0.0,0.0,0.0,6119.0,7042.0,5939.0,2634.0
3,Females,From 15 to 29 years,COVID-19,Austria,0.0,0.0,0.0,0.0,1.0,3.0,8.0,0.0
4,Males,From 15 to 29 years,COVID-19,Austria,0.0,0.0,0.0,0.0,3.0,15.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3775,Males,Less than 15 years,Use of alcohol,Turkey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3776,Total,Less than 15 years,Use of alcohol,Turkey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3777,Females,Total,Use of alcohol,Turkey,1.0,1.0,1.0,2.0,0.0,2.0,0.0,NaN
3778,Males,Total,Use of alcohol,Turkey,19.0,26.0,23.0,11.0,23.0,23.0,16.0,NaN
3779,Total,Total,Use of alcohol,Turkey,20.0,27.0,24.0,13.0,23.0,25.0,16.0,NaN

In [27]:
# years = ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

# for year in years:
# 	col_name = f'percentage_{year}'
# 	deaths[col_name] = deaths.apply(lambda row: (row[year] / totals[(totals['country'] == row['country']) & (totals['cause'] == 'Total')][year].values[0]) * 100 if totals[(totals['country'] == row['country']) & (totals['cause'] == 'Total')][year].values.size > 0 else 0, axis=1)
# deaths

In [30]:
years = ['2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

for year in years:
    print(year)
    deaths[f'percentage_{year}'] = deaths.apply(lambda row: (row[year] / deaths[(deaths['country'] == row['country']) & (deaths['sex'] == "Total") & (deaths['age'] == "Total") & (deaths['cause'] == 'Total')][year].values[0]) * 100, axis=1)
deaths

2016
2017
2018
2019
2020
2021
2022
2023

,sex,age,cause,country,2016,2017,2018,2019,2020,2021,2022,2023,percentage_2016,percentage_2017,percentage_2018,percentage_2019,percentage_2020,percentage_2021,percentage_2022,percentage_2023
0,Females,65 years or over,COVID-19,Austria,0.0,0.0,0.0,0.0,2973.0,3373.0,2960.0,1255.0,0.000000,0.000000,0.000000,0.000000,3.268362,3.708753,3.193578,1.406430
1,Males,65 years or over,COVID-19,Austria,0.0,0.0,0.0,0.0,3146.0,3669.0,2979.0,1379.0,0.000000,0.000000,0.000000,0.000000,3.458549,4.034218,3.214078,1.545392
2,Total,65 years or over,COVID-19,Austria,0.0,0.0,0.0,0.0,6119.0,7042.0,5939.0,2634.0,0.000000,0.000000,0.000000,0.000000,6.726911,7.742971,6.407656,2.951823
3,Females,From 15 to 29 years,COVID-19,Austria,0.0,0.0,0.0,0.0,1.0,3.0,8.0,0.0,0.000000,0.000000,0.000000,0.000000,0.001099,0.003299,0.008631,0.000000
4,Males,From 15 to 29 years,COVID-19,Austria,0.0,0.0,0.0,0.0,3.0,15.0,5.0,3.0,0.000000,0.000000,0.000000,0.000000,0.003298,0.016493,0.005395,0.003362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3775,Males,Less than 15 years,Use of alcohol,Turkey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
3776,Total,Less than 15 years,Use of alcohol,Turkey,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
3777,Females,Total,Use of alcohol,Turkey,1.0,1.0,1.0,2.0,0.0,2.0,0.0,NaN,0.000238,0.000236,0.000237,0.000463,0.000000,0.000357,0.000000,NaN
3778,Males,Total,Use of alcohol,Turkey,19.0,26.0,23.0,11.0,23.0,23.0,16.0,NaN,0.004522,0.006134,0.005443,0.002547,0.004564,0.004101,0.003189,NaN
3779,Total,Total,Use of alcohol,Turkey,20.0,27.0,24.0,13.0,23.0,25.0,16.0,NaN,0.004760,0.006370,0.005680,0.003010,0.004564,0.004458,0.003189,NaN

In [31]:
deaths[(deaths['sex'] == 'Total') & (deaths['age'] == 'Total') & (deaths['cause'] == 'Total')]

,sex,age,cause,country,2016,2017,2018,2019,2020,2021,2022,2023,percentage_2016,percentage_2017,percentage_2018,percentage_2019,percentage_2020,percentage_2021,percentage_2022,percentage_2023
89,Total,Total,Total,Austria,80374.0,82957.0,83458.0,82979.0,90963.0,90947.0,92686.0,89233.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
197,Total,Total,Total,Belgium,108107.0,108333.0,110600.0,108793.0,126839.0,112076.0,116274.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
305,Total,Total,Total,Bulgaria,106519.0,108616.0,107292.0,106625.0,123160.0,146855.0,116660.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
413,Total,Total,Total,Croatia,52075.0,54024.0,53349.0,52477.0,57532.0,63349.0,57717.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
521,Total,Total,Total,Cyprus,5547.0,6164.0,5922.0,6354.0,6552.0,7290.0,7375.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
629,Total,Total,Total,Czechia,108066.0,111607.0,113127.0,112665.0,129690.0,140260.0,120910.0,113072.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
737,Total,Total,Total,Denmark,52675.0,53076.0,55053.0,53868.0,54626.0,57148.0,59396.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
845,Total,Total,Total,Estonia,15319.0,15478.0,15650.0,15234.0,15727.0,18426.0,17225.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
953,Total,Total,Total,European Union - 27 countries (from 2020),4536667.0,4660352.0,4693334.0,4660270.0,5189007.0,5298536.0,NaN,NaN,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN
1061,Total,Total,Total,Finland,53870.0,53558.0,54425.0,53834.0,55421.0,57530.0,63054.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
1169,Total,Total,Total,France,593723.0,606354.0,609845.0,613601.0,669107.0,661691.0,675413.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
1277,Total,Total,Total,Germany,913523.0,934717.0,957564.0,942309.0,988008.0,1026046.0,1069484.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
1385,Total,Total,Total,Greece,118952.0,124522.0,120363.0,125016.0,131084.0,143988.0,140914.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
1493,Total,Total,Total,Hungary,127053.0,131674.0,131045.0,129603.0,141002.0,155621.0,136446.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
1601,Total,Total,Total,Iceland,2276.0,2189.0,2192.0,2217.0,2265.0,2285.0,2631.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
1709,Total,Total,Total,Ireland,30667.0,30418.0,31140.0,31184.0,32854.0,34844.0,35804.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
1817,Total,Total,Total,Italy,618083.0,650614.0,632940.0,641456.0,746324.0,706969.0,721974.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
1925,Total,Total,Total,Latvia,28263.0,28530.0,28576.0,27536.0,28628.0,34292.0,NaN,NaN,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN
2033,Total,Total,Total,Liechtenstein,192.0,172.0,177.0,169.0,205.0,165.0,175.0,148.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
2141,Total,Total,Total,Lithuania,40627.0,39654.0,39078.0,37827.0,43056.0,47264.0,42691.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
2249,Total,Total,Total,Luxembourg,3977.0,4137.0,4108.0,4120.0,4439.0,4338.0,4283.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
2357,Total,Total,Total,Malta,3409.0,3628.0,3757.0,3730.0,4108.0,4186.0,4277.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
2465,Total,Total,Total,Metropolitan France,580940.0,593550.0,596577.0,599599.0,654636.0,644095.0,658557.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
2573,Total,Total,Total,Netherlands,148129.0,149477.0,152652.0,151013.0,168203.0,170043.0,169251.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
2681,Total,Total,Total,Norway,40349.0,40374.0,40329.0,40124.0,40040.0,41067.0,NaN,NaN,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN
2789,Total,Total,Total,Poland,388677.0,403559.0,414941.0,410564.0,478008.0,520320.0,449419.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
2897,Total,Total,Total,Portugal,110970.0,110191.0,113573.0,112334.0,123707.0,125222.0,NaN,NaN,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN
3005,Total,Total,Total,Romania,255387.0,259157.0,261512.0,257326.0,295232.0,331755.0,NaN,NaN,100.0,100.0,100.0,100.0,100.0,100.0,NaN,NaN
3113,Total,Total,Total,Serbia,100519.0,103349.0,101315.0,101097.0,116454.0,135927.0,108740.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
3221,Total,Total,Total,Slovakia,51906.0,53491.0,53801.0,52703.0,58700.0,73033.0,59072.0,53702.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
3329,Total,Total,Total,Slovenia,19556.0,20255.0,20076.0,20063.0,23609.0,22770.0,22105.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
3437,Total,Total,Total,Spain,410611.0,424523.0,427721.0,418703.0,493776.0,450744.0,464417.0,436124.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
3545,Total,Total,Total,Sweden,90602.0,91638.0,91766.0,88353.0,98652.0,91529.0,94245.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
3653,Total,Total,Total,Switzerland,65533.0,67431.0,67621.0,68424.0,76853.0,71848.0,75199.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
3761,Total,Total,Total,Turkey,420189.0,423878.0,422571.0,431844.0,503944.0,560796.0,501722.0,NaN,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN

In [36]:
deaths.to_csv('./clean/perc_estat_hlth_cd_aro.csv', index=False)