In [1]:
import pandas as pd

europe = pd.read_csv('covid.csv')
europe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93069 entries, 0 to 93068
Data columns (total 62 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   country                                     93069 non-null  object
 1   total_cases                                 93069 non-null  float64
 2   year                                        93069 non-null  int64
 3   month                                       93069 non-null  int64
 4   day                                         93069 non-null  int64
 5   new_cases                                   91444 non-null  float64
 6   new_cases_smoothed                          91440 non-null  float64
 7   total_cases_per_million                     93069 non-null  float64
 8   new_cases_per_million                       91444 non-null  float64
 9   new_cases_smoothed_per_million              91440 non-null  float64
 10  total_deaths                                93069 non-null  float64
 11  new_deaths                                  91444 non-null  float64
 12  new_deaths_smoothed                         91440 non-null  float64
 13  total_deaths_per_million                    93069 non-null  float64
 14  new_deaths_per_million                      91444 non-null  float64
 15  new_deaths_smoothed_per_million             91440 non-null  float64
 16  excess_mortality                            7277 non-null   float64
 17  excess_mortality_cumulative                 7277 non-null   float64
 18  excess_mortality_cumulative_absolute        7277 non-null   float64
 19  excess_mortality_cumulative_per_million     7277 non-null   float64
 20  hosp_patients                               29667 non-null  float64
 21  hosp_patients_per_million                   29667 non-null  float64
 22  weekly_hosp_admissions                      16665 non-null  float64
 23  weekly_hosp_admissions_per_million          16665 non-null  float64
 24  icu_patients                                25537 non-null  float64
 25  icu_patients_per_million                    25537 non-null  float64
 26  weekly_icu_admissions                       11361 non-null  float64
 27  weekly_icu_admissions_per_million           11361 non-null  float64
 28  stringency_index                            48224 non-null  float64
 29  reproduction_rate                           48616 non-null  float64
 30  total_tests                                 29892 non-null  float64
 31  new_tests                                   29020 non-null  float64
 32  total_tests_per_thousand                    29892 non-null  float64
 33  new_tests_per_thousand                      29020 non-null  float64
 34  new_tests_smoothed                          35121 non-null  float64
 35  new_tests_smoothed_per_thousand             35121 non-null  float64
 36  positive_rate                               35362 non-null  float64
 37  tests_per_case                              35337 non-null  float64
 38  total_vaccinations                          26893 non-null  float64
 39  people_vaccinated                           25288 non-null  float64
 40  people_fully_vaccinated                     24469 non-null  float64
 41  total_boosters                              20602 non-null  float64
 42  new_vaccinations                            23214 non-null  float64
 43  new_vaccinations_smoothed                   50088 non-null  float64
 44  total_vaccinations_per_hundred              26893 non-null  float64
 45  people_vaccinated_per_hundred               25288 non-null  float64
 46  people_fully_vaccinated_per_hundred         24469 non-null  float64
 47  total_boosters_per_hundred                  20602 non-null  float64
 48  new_vaccinations_smoothed_per_million       50088 non-null  float64
 49  new_people_vaccinated_smoothed              50088 non-null  float64
 50  new_people_vaccinated_smoothed_per_hundred  50088 non-null  float64
 51  code                                        93069 non-null  object
 52  continent                                   93069 non-null  object
 53  population                                  93069 non-null  float64
 54  population_density                          87599 non-null  float64
 55  median_age                                  93069 non-null  float64
 56  gdp_per_capita                              76654 non-null  float64
 57  extreme_poverty                             74828 non-null  float64
 58  diabetes_prevalence                         82128 non-null  float64
 59  handwashing_facilities                      9123 non-null   float64
 60  hospital_beds_per_thousand                  76654 non-null  float64
 61  human_development_index                     78480 non-null  float64
dtypes: float64(56), int64(3), object(3)
memory usage: 44.0+ MB

In [15]:

people_vacc_empty = (europe['people_vaccinated'].isnull()) | (
    europe['people_vaccinated'] == 0)
new_vacc_not_empty = (europe['new_vaccinations'] > 0)

peop_emp = europe[people_vacc_empty][['people_vaccinated', 'new_vaccinations']]

In [14]:
peop_emp[peop_emp['new_vaccinations'] > 0]

       people_vaccinated  new_vaccinations
415                  NaN            1128.0
447                  NaN            3461.0
448                  NaN            2302.0
449                  NaN            5356.0
450                  NaN            2900.0
...                  ...               ...
75414                NaN               4.0
75421                NaN               8.0
75436                NaN               9.0
82899                NaN           99444.0
85120                NaN           69531.0

[1439 rows x 2 columns]

In [16]:
peop_emp[new_vacc_not_empty]

/var/folders/2l/3p8f5_wj2v97fh712bdsl8q40000gn/T/ipykernel_11938/3622478265.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  peop_emp[new_vacc_not_empty]

       people_vaccinated  new_vaccinations
415                  NaN            1128.0
447                  NaN            3461.0
448                  NaN            2302.0
449                  NaN            5356.0
450                  NaN            2900.0
...                  ...               ...
75414                NaN               4.0
75421                NaN               8.0
75436                NaN               9.0
82899                NaN           99444.0
85120                NaN           69531.0

[1439 rows x 2 columns]

In [27]:
europe[(europe['country'] == "Albania") & (europe['year'] == 2021)
       & (europe['month'] == 5)]['people_vaccinated']

486         NaN
487         NaN
488         NaN
489         NaN
490         NaN
491         NaN
492         NaN
493         NaN
494         NaN
495         NaN
496    440921.0
497    444755.0
498    445402.0
499    448571.0
500         NaN
501         NaN
502    456980.0
503    460191.0
504    463402.0
505    466083.0
506    469169.0
507         NaN
508    472840.0
509    475237.0
510         NaN
511    479789.0
512    481788.0
513         NaN
514         NaN
515    485162.0
516    486128.0
Name: people_vaccinated, dtype: float64

In [ ]:
for i in range(1, len(europe)):
    if europe.iloc[i]['country'] == europe.iloc[i-1]['country']:
        if (europe.iloc[i]['people_vaccinated'] == 0) or (pd.isnull(europe.iloc[i]['people_vaccinated'])):
            europe.loc[i, 'people_vaccinated'] = europe.iloc[i -
                                                             1]['people_vaccinated'] + europe.iloc[i]['new_vaccinations']

In [ ]:

idx = (europe['country'] == "Albania") & (
    europe['year'] == 2021) & (europe['month'] == 5)
europe[idx]['people_vaccinated']

486         NaN
487         NaN
488         NaN
489         NaN
490         NaN
491         NaN
492         NaN
493         NaN
494         NaN
495         NaN
496    440921.0
497    444755.0
498    445402.0
499    448571.0
500         NaN
501         NaN
502    456980.0
503    460191.0
504    463402.0
505    466083.0
506    469169.0
507         NaN
508    472840.0
509    475237.0
510         NaN
511    479789.0
512    481788.0
513         NaN
514         NaN
515    485162.0
516    486128.0
Name: people_vaccinated, dtype: float64