In [3]:
import pandas as pd
import numpy as np
import glob

In [4]:
df = pd.read_csv('estat_une_rt_m_filtered.csv')
df.columns = df.columns.str.strip()
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
df.head()

,freq,s_adj,age,unit,sex,geo,2016-01,2016-02,2016-03,2016-04,...,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,M,SA,TOTAL,PC_ACT,F,AT,5.9,5.6,5.9,5.4,...,4.9,4.9,4.4,4.7,4.4,4.6,5.1,5.6,4.1,:
1,M,SA,TOTAL,PC_ACT,F,BE,7.8,7.7,7.8,8.1,...,5.0,5.1,5.2,5.2,5.2,5.2,5.4,5.5,5.4,:
2,M,SA,TOTAL,PC_ACT,F,BG,8.2,8.1,8.3,8.2,...,4.4,4.1,3.9,3.8,3.9,3.9,3.9,3.8,3.7,:
3,M,SA,TOTAL,PC_ACT,F,CH,5.1,5.0,5.0,5.0,...,4.3,4.4,4.5,4.6,4.6,4.7,4.9,:,:,:
4,M,SA,TOTAL,PC_ACT,F,CY,12.7,13.2,13.3,13.2,...,5.4,5.3,5.1,5.2,5.0,4.7,4.4,4.3,4.1,:

In [5]:
path = '../ESTAT_CODELISTS/*.tsv'
files = glob.glob(path)
dataframes = {file.split('/')[-1].replace('.tsv', ''): pd.read_csv(
    file, sep='\t', on_bad_lines='skip') for file in files}

In [6]:
for col in ["freq", "unit", "sex", "age", "s_adj", "geo"]:
    curr_codelist = dataframes[f"ESTAT_{col.upper()}"]
    df[col] = df[col].map(curr_codelist.set_index('CODE')['Label'])

df.rename(columns={'geo': 'country'}, inplace=True)
df.head()

,freq,s_adj,age,unit,sex,country,2016-01,2016-02,2016-03,2016-04,...,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,Monthly,"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of population in the labour force,Females,Austria,5.9,5.6,5.9,5.4,...,4.9,4.9,4.4,4.7,4.4,4.6,5.1,5.6,4.1,:
1,Monthly,"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of population in the labour force,Females,Belgium,7.8,7.7,7.8,8.1,...,5.0,5.1,5.2,5.2,5.2,5.2,5.4,5.5,5.4,:
2,Monthly,"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of population in the labour force,Females,Bulgaria,8.2,8.1,8.3,8.2,...,4.4,4.1,3.9,3.8,3.9,3.9,3.9,3.8,3.7,:
3,Monthly,"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of population in the labour force,Females,Switzerland,5.1,5.0,5.0,5.0,...,4.3,4.4,4.5,4.6,4.6,4.7,4.9,:,:,:
4,Monthly,"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of population in the labour force,Females,Cyprus,12.7,13.2,13.3,13.2,...,5.4,5.3,5.1,5.2,5.0,4.7,4.4,4.3,4.1,:

In [7]:
df.replace(": z", np.nan, inplace=True)
df.replace(":", np.nan, inplace=True)

In [8]:
year_cols = [col for col in df.columns if col.isdigit()]

for col in year_cols:
    df[col] = df[col].astype(str).str.extract(r'(\d+)').astype(float)

In [9]:
df.head()

,freq,s_adj,age,unit,sex,country,2016-01,2016-02,2016-03,2016-04,...,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,Monthly,"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of population in the labour force,Females,Austria,5.9,5.6,5.9,5.4,...,4.9,4.9,4.4,4.7,4.4,4.6,5.1,5.6,4.1,NaN
1,Monthly,"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of population in the labour force,Females,Belgium,7.8,7.7,7.8,8.1,...,5.0,5.1,5.2,5.2,5.2,5.2,5.4,5.5,5.4,NaN
2,Monthly,"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of population in the labour force,Females,Bulgaria,8.2,8.1,8.3,8.2,...,4.4,4.1,3.9,3.8,3.9,3.9,3.9,3.8,3.7,NaN
3,Monthly,"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of population in the labour force,Females,Switzerland,5.1,5.0,5.0,5.0,...,4.3,4.4,4.5,4.6,4.6,4.7,4.9,NaN,NaN,NaN
4,Monthly,"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of population in the labour force,Females,Cyprus,12.7,13.2,13.3,13.2,...,5.4,5.3,5.1,5.2,5.0,4.7,4.4,4.3,4.1,NaN

In [10]:
for col in df.columns:
    if not col.isdigit() and df[col].nunique() == 1:
        df.drop(columns=[col], inplace=True)

In [11]:
df.head()

,s_adj,age,unit,sex,country,2016-01,2016-02,2016-03,2016-04,2016-05,...,2024-03,2024-04,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12
0,"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of population in the labour force,Females,Austria,5.9,5.6,5.9,5.4,6.4,...,4.9,4.9,4.4,4.7,4.4,4.6,5.1,5.6,4.1,NaN
1,"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of population in the labour force,Females,Belgium,7.8,7.7,7.8,8.1,8.2,...,5.0,5.1,5.2,5.2,5.2,5.2,5.4,5.5,5.4,NaN
2,"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of population in the labour force,Females,Bulgaria,8.2,8.1,8.3,8.2,8.1,...,4.4,4.1,3.9,3.8,3.9,3.9,3.9,3.8,3.7,NaN
3,"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of population in the labour force,Females,Switzerland,5.1,5.0,5.0,5.0,5.0,...,4.3,4.4,4.5,4.6,4.6,4.7,4.9,NaN,NaN,NaN
4,"Seasonally adjusted data, not calendar adjuste...",Total,Percentage of population in the labour force,Females,Cyprus,12.7,13.2,13.3,13.2,13.0,...,5.4,5.3,5.1,5.2,5.0,4.7,4.4,4.3,4.1,NaN

In [12]:
df.to_csv("./clean/estat_une_rt_m_filtered.csv", index=False)